.tasksContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed purple;
    width: 100%;
}

.taskWrapper {
    border: 1px dashed green;
    width: 90%;
    display: flex;
    align-items: center;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding:1.5rem 0;
}
