.userContainer{
    margin: 2rem 1rem;
}

.login--form input{
    margin: 10px 0;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    max-width: 85%;
}

.login--form button{
    background-color: #97D2EC;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    border: 1px solid #25316D;
    border-radius: 5px;
    color: whitesmoke;
    margin: 5px 3px;
    text-shadow: 1px 1px 2px #000000;
    cursor: pointer;
}

.register--button{
    cursor: pointer;
    display: inline;
    background-color: #97D2EC;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    border: 1px solid #25316D;
    border-radius: 5px;
    color: whitesmoke;
    margin: 5px 3px;
    text-shadow: 1px 1px 2px #000000;
}

.logout--button{
    cursor: pointer;
    background-color: #97D2EC;
    padding: 1.5rem 2.5rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    margin: 5px 0;
    text-shadow: 1px 1px 0 #000000;
}

.user--info {
    color: #FEF5AC;
    font-size: 2.5rem;
}